:root {
  --white: #fff;
  --beige: #f3ece4;
  --blue: #dbe8ed;
  --pink: #dacccc;
  --brown: #9e8d86;
  --darkbrown: #5f5651;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Light";
  src: url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Falidae";
  src: url("./fonts/Felidae-Regular.woff") format("woff"),
    url("./fonts/Felidae-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  min-width: 425px;
  width: 100%;

  font-family: "Gilroy Light", sans-serif;
}
html {
  font-size: 24px;
}
h1 {
  font-size: 2.6rem;
  font-family: Falidae;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-family: Falidae;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  display: flex;

  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--beige);
  color: var(--darkbrown);
}
.blur {
  top: 0;
}

.header__short {
  display: flex;
}
.hs1 {
  border-bottom: 1px solid var(--pink);

  width: 100%;
  max-width: 10rem;
}
.hs2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--pink);
  width: 100%;
  padding: 5rem 10rem 0rem 0.1rem;
}
.hs2 img {
  margin-bottom: -0.4rem;
}
.hs2 nav {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 100%;
}

.main__box {
  display: flex;
  width: 100%;
  min-height: 100svh;
}

.mb1 {
  border-right: 1px solid var(--pink);
  width: 100%;
  max-width: 10rem;
}

.mb2 {
  display: flex;
  align-items: center;
  margin: 8rem 0;
}

.item__box {
  display: flex;
}
.item__left img {
  width: 90%;
}
.item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 820px;
}

.item__desc-bottom {
  display: flex;
  justify-content: space-between;
}

.item__desc-bottom-left {
  display: flex;
  flex-direction: column;
}
.item__desc-bottom-right {
  display: flex;
  flex-direction: column;
}
.counter {
  display: flex;
}
.size {
  display: flex;
  gap: 1rem;
}

.footer__box {
  display: flex;

  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--pink);
}
.fr1 {
  display: flex;
  justify-content: space-between;
}
.fr2 {
  display: flex;
  justify-content: space-between;
  max-height: 5rem;
}
.fr3 {
  display: flex;
  justify-content: space-between;
}

.fb1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pink);
  width: 100%;
  padding: 1rem 0;
}

#gesigner__name {
  font-family: Falidae;
  font-weight: 300;
  letter-spacing: 0.05rem;

  display: flex;
  justify-content: center;
}

#gesigner__name h4 {
  opacity: 0.5;
}
.fb2 {
  border-bottom: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  width: 100%;
  max-width: 10rem;
  min-height: 1.5rem;
}

.social {
  display: flex;
  gap: 3rem;
}
.blurline {
  position: absolute;
  top: 119%;
  z-index: -1;
}
.blurhead {
  position: absolute;
  left: 50%;
  z-index: -1;
}
.bluraside {
  position: absolute;
  top: 10%;
  z-index: -1;
}
